doctype html
html(lang="en")
	head
		title= "stockswipe"
		script(src='/jquery.js')
		
		script(src='/script.js')

		link(href='main.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Lato:100,400,900', rel='stylesheet', type='text/css')

	body
		span STOCKSWIPE
		br
		span.credit BELANGER - DEVERA - DURKIN

		#container
			.card
				#card_title
					#stock_ticker AAPL
				#card_content

		#body_container
			#ticker_container
				br
				br
				br
				#ticker 
					#ticker_title AAPL
				br
				br
				br
				#ticker 
					#ticker_title XOM
				br
				br
				br
				#ticker 
					#ticker_title MSFT
				br
				br
				br
				#ticker 
					#ticker_title BRK-A
				br
				br
				br
				#ticker 
					#ticker_title JNJ
				br
				br
				br
				#ticker 
					#ticker_title WFC
				br
				br
				br
				#ticker 
					#ticker_title GE
			#ticker_container
				br
				br
				br
				#ticker 
					#ticker_title WMT
				br
				br
				br
				#ticker 
					#ticker_title CVX
				br
				br
				br
				#ticker 
					#ticker_title JPM
				br
				br
				br
				#ticker 
					#ticker_title PG
				br
				br
				br
				#ticker 
					#ticker_title VZ
				br
				br
				br
				#ticker 
					#ticker_title FB
				br
				br
				br
				#ticker 
					#ticker_title PFE
			#ticker_container
				br
				br
				br
				#ticker 
					#ticker_title IBM
				br
				br
				br
				#ticker 
					#ticker_title ORCL
				br
				br
				br
				#ticker 
					#ticker_title KO
				br
				br
				br
				#ticker 
					#ticker_title T
				br
				br
				br
				#ticker 
					#ticker_title BAC
				br
				br
				br
				#ticker 
					#ticker_title INTC
				br
				br
				br
				#ticker 
					#ticker_title MRK

