doctype html
html(lang="en")
	head
		title= "stockswipe"
		script(src='/jquery.js')
		
		script(src='/script.js')

		link(href='main.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Ek+Mukta:200,600', rel='stylesheet', type='text/css')

	body

		#container
			.card

		#ticker_container
			#ticker TSLA
			br
			#ticker AAPL
			br
			#ticker GOOG
			br
			#ticker BA
			br
			#ticker CSCO
			br
			#ticker FB