doctype html
html(lang="en")
	head
		title= "stockswipe"
		script(src='/jquery.js')
		
		script(src='/code.js')
		script(src='/script.js')

		link(href='main.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Ek+Mukta:200,600', rel='stylesheet', type='text/css')

	body

		#body.card
			| TSLA
			#content
			.controls
		#body.card
			| TSLA
			#content
			.controls
		#body.card
			| TSLA
			#content
			.controls
		#body.card
			| TSLA
			#content
			.controls
		#body.card
			| TSLA
			#content
			.controls
		#body.card
			| TSLA
			#content
			.controls
		#body.card
			| TSLA
			#content
			.controls
		#body.card
			| TSLA
			#content
			.controls
		#body.card
			| TSLA
			#content
			.controls

		#cat-container