html, body {
	margin:0;
	width:100%;
	font-family: "Ek Mukta";
	text-align: center;
	color:white;
	padding:0;
  display: inline-block;
}
html {
	height:100%;
}
body {
	height:0px;
	background:#333647;
  z-index: 1;
}

#ticker_container {
  position:absolute;
  margin-top:0px;
  top:0px;
  z-index:3;
  display:inline-block;
  float:left;
  margin:30px 30px 30px 30px;
}

#ticker {

  font-size:25px;
  width:auto;
  position:absolute;
  float:left;
  display: block;
  z-index: 4; 

  /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1, 1); // This is the scale for the normal size of the image.
  -webkit-transition-duration: 10000ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1, 1);
  -moz-transition-duration: 10000ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1, 1);
  -ms-transition-duration: 10000ms;
  -ms-transition-timing-function: ease-out;

}


#ticker:hover {
  /* Webkit for Chrome and Safari */
  -webkit-transform: scale(2, 2); // This is the enlarged size scale of the image.
  -webkit-transition-duration: 10000ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(2, 2);
  -moz-transition-duration: 10000ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(2, 2);
  -ms-transition-duration: 10000ms;
  -ms-transition-timing-function: ease-out;
}

#container {
  position: absolute;
  margin-top:0px;
  width:100%;
  height:700px;
  float:left;
}

.card {
	width:70%;
  max-width: 450px;
	height:500px;
	background:#4A4E68;


  margin-top:100px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:auto;

  position: relative;
  /* BORDER RADIUS */
  -moz-border-radius: 0px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  z-index:6;

  display: inline-block;

}