doctype html
html(lang="en")
	head
		title= "stockswipe"
		script(src='stockswipe/public/jquery.js')
		script(src='stockswipe/public/mousetrap.js')
		
		script(src='stockswipe/public/script.js')

		link(href='stockswipe/public/main.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Lato:100,400,900', rel='stylesheet', type='text/css')

	body
		span STOCKSWIPE
		br
		span.credit BELANGER - DEVERA - DURKIN

		#container
			.card
				#card_title
					#stock_ticker 
				#card_content
					.graph
						#chartIMG
					.capData
						span OPEN:
						span HIGH:
						span MARKET CAP:
						#open 102.29
						#high 102.35
						#marketCap 604.54B
					.lastPrice
						#latestPrice 100.96
						#change -0.83
						#growth .82%

		#body_container
			#ticker_container
				br
				br
				br
				#ticker(onclick="initCard('AAPL')")
					#ticker_title AAPL
				br
				br
				br
				#ticker(onclick="initCard('XOM')")
					#ticker_title XOM
				br
				br
				br
				#ticker(onclick="initCard('MSFT')")
					#ticker_title MSFT
				br
				br
				br
				#ticker(onclick="initCard('BRK-A')")
					#ticker_title BRK-A
				br
				br
				br
				#ticker(onclick="initCard('JNJ')")
					#ticker_title JNJ
				br
				br
				br
				#ticker(onclick="initCard('WFC')")
					#ticker_title WFC
				br
				br
				br
				#ticker(onclick="initCard('GE')")
					#ticker_title GE
			#ticker_container
				br
				br
				br
				#ticker(onclick="initCard('WMT')")
					#ticker_title WMT
				br
				br
				br
				#ticker(onclick="initCard('CVX')")
					#ticker_title CVX
				br
				br
				br
				#ticker(onclick="initCard('JPM')")
					#ticker_title JPM
				br
				br
				br
				#ticker(onclick="initCard('PG')")
					#ticker_title PG
				br
				br
				br
				#ticker(onclick="initCard('VZ')")
					#ticker_title VZ
				br
				br
				br
				#ticker(onclick="initCard('FB')")
					#ticker_title FB
				br
				br
				br
				#ticker(onclick="initCard('PFE')")
					#ticker_title PFE
			#ticker_container
				br
				br
				br
				#ticker(onclick="initCard('IBM')")
					#ticker_title IBM
				br
				br
				br
				#ticker(onclick="initCard('ORCL')")
					#ticker_title ORCL
				br
				br
				br
				#ticker(onclick="initCard('KO')")
					#ticker_title KO
				br
				br
				br
				#ticker(onclick="initCard('T')")
					#ticker_title T
				br
				br
				br
				#ticker(onclick="initCard('BAC')")
					#ticker_title BAC
				br
				br
				br
				#ticker(onclick="initCard('INTC')")
					#ticker_title INTC
				br
				br
				br
				#ticker(onclick="initCard('MRK')")
					#ticker_title MRK

